//
// oooooooooooooooooooooooooooooooooooooooooooooooooo

// General
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.appearance(@appearance) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}
.borderRadius(@radius1:10px, @radius2:@radius1, @radius3:@radius1, @radius4:@radius1) {
  -webkit-border-radius: @radius1 @radius2 @radius3 @radius4;
  -moz-border-radius: @radius1 @radius2 @radius3 @radius4;
  border-radius: @radius1 @radius2 @radius3 @radius4;
  filter: none;
  // Disable gradients in IE when using rounded corners

}
.boxSizing (@sizing: border-box) {
  -moz-box-sizing: @sizing;
  -o-box-sizing: @sizing;
  box-sizing: @sizing;

}
.inputInvalid () {
  background-color: @red-light;
  border-top: 1px solid @red-border-dark;
  border-right: 1px solid @red-border-light;
  border-bottom: 1px solid @red-border-light;
  border-left: 1px solid @red-border-dark;
  color: @font-color;

}
.opacity (@percent) {
  @pct: (@percent * 100);
  filter: ~"alpha(opacity=@{pct})";
  -webkit-opacity: @percent;
  opacity: @percent;

}
.transform(@transform) {
  -webkit-transform: @transform;
  -moz-transform: @transform;
  -ms-transform: @transform;
  -o-transform: @transform;
  transform: @transform;

}
.transition(@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -o-transition: @transition;
  transition: @transition;

}
.userSelect(@select: none) {
  -webkit-user-select: @select;
  -moz-user-select: @select;
  -ms-user-select: @select;
  user-select: @select;

}
.animation(@animationName:rotate, @duration:1400ms, @timingFunction:linear, @delay:0s, @iterationCount:infinite) {
  -webkit-animation: @animationName @duration @timingFunction @delay @iterationCount;
  -moz-animation: @animationName @duration @timingFunction @delay @iterationCount;
  //note the "s" on the 0s @delay which, if omitted, breaks in Firefox
  -ms-animation: @animationName @duration @timingFunction @delay @iterationCount;
  animation: @animationName @duration @timingFunction @delay @iterationCount;

}
// Shadow
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.boxShadow (@horiz-offset: 0, @vert-offset: 0, @blur-distance: 6px, @spread-distance: 0, @color: rgba(0, 0, 0, 0.32)) {
  -moz-box-shadow: @horiz-offset @vert-offset @blur-distance @spread-distance @color;
  box-shadow: @horiz-offset @vert-offset @blur-distance @spread-distance @color;

}
.boxShadowInset (@horiz-offset: 0, @vert-offset: 0, @blur-distance: 6px, @spread-distance: 0, @color: rgba(0, 0, 0, 0.32)) {
  -webkit-box-shadow: inset @horiz-offset @vert-offset @blur-distance @spread-distance @color;
  -moz-box-shadow: inset @horiz-offset @vert-offset @blur-distance @spread-distance @color;
  box-shadow: inset @horiz-offset @vert-offset @blur-distance @spread-distance @color;

}
.boxShadows(@shadow1, @shadow2) {
  -webkit-box-shadow: @shadow1, @shadow2;
  -moz-box-shadow: @shadow1, @shadow2;
  box-shadow: @shadow1, @shadow2;

}
// Background
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.backgroundSize (@size) {
  -webkit-background-size: @size;
  -moz-background-size: @size;
  -o-background-size: @size;
  background-size: @size;

}
.backgroundHorizontalGradientPositioned (@defaultColor, @startColor, @startPos:100%, @endColor, @endPos:100%) {
  background-color: @defaultColor;
  background-image: -webkit-linear-gradient(left, @startColor @startPos, @endColor @endPos);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: -moz-linear-gradient(left, @startColor @startPos, @endColor @endPos);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(left, @startColor @startPos, @endColor @endPos);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to right, @startColor @startPos, @endColor @endPos);
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.backgroundVerticalGradient (@default-color, @start-color, @end-color) {
  background-color: @default-color;
  filter: ~"progid:DXImageTransform.Microsoft.Gradient(startColorStr='@{start-color}', endColorStr='@{end-color}')";
  /* for IE */
  background-image: -webkit-gradient(linear, left top, left bottom, from(@start-color), to(@end-color));
  /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, @start-color, @end-color);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: -moz-linear-gradient(top, @start-color, @end-color);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, @start-color, @end-color);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, @start-color, @end-color);
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.backgroundVerticalGradientPositioned (@defaultColor, @startColor, @startPos:100%, @endColor, @endPos:100%) {
  background-color: @defaultColor;
  filter: ~"progid:DXImageTransform.Microsoft.Gradient(startColorStr='@{startColor}', endColorStr='@{endColor}')";
  /* for IE */
  background-image: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
  /* Chrome, Safari 4+ */
  background-image: -webkit-linear-gradient(top, @startColor @startPos, @endColor @endPos);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: -moz-linear-gradient(top, @startColor @startPos, @endColor @endPos);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(top, @startColor @startPos, @endColor @endPos);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(to bottom, @startColor @startPos, @endColor @endPos);
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.backgroundGradientDirectionPositioned (@direction, @defaultColor, @startColor, @startPos:100%, @endColor, @endPos:100%) {
  background-color: @defaultColor;
  filter: ~"progid:DXImageTransform.Microsoft.Gradient(startColorStr='@{startColor}', endColorStr='@{endColor}')";
  /* for IE */
  background-image: -webkit-linear-gradient(@direction, @startColor @startPos, @endColor @endPos);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: -moz-linear-gradient(@direction, @startColor @startPos, @endColor @endPos);
  /* Firefox 3.6-15 */
  background-image: -o-linear-gradient(@direction, @startColor @startPos, @endColor @endPos);
  /* Opera 11.10-12.00 */
  background-image: linear-gradient(@direction, @startColor @startPos, @endColor @endPos);
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.backgroundVerticalGradientWithImage (@image-url, @default-color, @start-color, @end-color) {
  background-color: @default-color;
  background-image: url('@{image-url}'), -webkit-gradient(linear, left top, left bottom, from(@start-color), to(@end-color));
  /* Chrome, Safari 4+ */
  background-image: url('@{image-url}'), -webkit-linear-gradient(top, @start-color, @end-color);
  /* Chrome 10-25, iOS 5+, Safari 5.1+ */
  background-image: url('@{image-url}'), -moz-linear-gradient(top, @start-color, @end-color);
  /* Firefox 3.6-15 */
  background-image: url('@{image-url}'), -o-linear-gradient(top, @start-color, @end-color);
  /* Opera 11.10-12.00 */
  background-image: url('@{image-url}'), linear-gradient(to bottom, @start-color, @end-color);
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}
.backgroundClip(@clip) {
  -moz-background-clip: @clip;
  -webkit-background-clip: @clip;
  background-clip: @clip;

}
// Text Overflow
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.textOverflow(@textOverflow) {
  -ms-text-overflow: @textOverflow;
  -o-text-overflow: @textOverflow;
  text-overflow: @textOverflow;

}
// CSS Columns
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.columnCount(@columnCount:2) {
  -webkit-column-count: @columnCount;
  -moz-column-count: @columnCount;
  column-count: @columnCount;

}
.columnGap(@columnGap:10px) {
  -webkit-column-gap: @columnGap;
  -moz-column-gap: @columnGap;
  column-gap: @columnGap;

}
.breakInside(@breakInside:avoid) {
  break-inside: @breakInside;
  /* W3C */
  -webkit-column-break-inside: @breakInside;
  /* Safari & Chrome */
  -moz-column-break-inside: @breakInside;
  /* Firefox */
  -ms-column-break-inside: @breakInside;
  /* Internet Explorer */
  -o-column-break-inside: @breakInside;
  /* Opera */
}