// out: ile-imgbox.css, compress: true
// main: ile-imgbox.less
@import 'helpers';

.ile_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(255,255,255,0.85);
  top: 0;
  left: 0;
  text-align: center;
  // &:before {
  //   position: fixed;
  //   right: 10px;
  //   top: 10px;
  //   width: 26px;
  //   height: 26px;
  //   font-size: 14px;
  //   font-weight: bold;
  //   color: white;
  //   background: url("close_modal.png") no-repeat center;
  //   text-align: center;
  //   cursor: pointer;
  //   font-family: Arial;
  //   display: block;
  //   z-index: 5;
  //   content: '';
  //   cursor: pointer;
  //   .opacity(0.25);
  //   .transition(all 0.5s ease-in-out);
  // }
  // &:hover {
  //   &:before {
  //     .opacity(1);
  //     content: '';
  //     .transition(all 0.5s ease-in-out);
  //   }
  // }

}
.ile_popup {
  z-index: 2;
  margin: 20px auto;
  display: inline-block;
  position: relative;
  text-align: center;
}
.ile_img_box {
  display: block;
  // margin: 0 auto;
  border-radius: 3px;
  position: relative;
  margin: 5% 10%;
  // max-width: 80%;
  // min-width: 10%;
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    .borderRadius(3px);
    .boxShadow(0, 2px, 10px, -3px, rgba(0,0,0,0.75));
  }

}
.ile_hidden {
  display: none;
}