.thumbnail {
  width: 150px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  outline: 5px solid transparent;
  display: block;
  margin: 20px auto;
}
.thumbnail:hover {
  outline: 5px solid #eee;
}
