// out: styles.css
// main: styles.less
// Basic demo styles.
@import 'helpers';

.thumbnail {
  width: 150px;
  cursor: pointer;
  .transition(all 0.5s ease-in-out);
  outline: 5px solid transparent;
  display: block;
  margin: 20px auto;
}
.thumbnail:hover {
  outline: 5px solid #eee;
}